<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOAPWebServiceConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SOAPWebServiceConnector.Properties.Settings>
            <setting name="SOAPWebServiceConnector_BLZWebService_BLZService"
                serializeAs="String">
                <value>http://www.thomas-bayer.com/axis2/services/BLZService</value>
            </setting>
        </SOAPWebServiceConnector.Properties.Settings>
    </applicationSettings>
</configuration>